/*-----------------------------------------------------
INDHOLDSFORTEGNELSE:

1. Generel styling / header / burgermenu
2. Login side
3. Forside
4. Afleveringer
-----------------------------------------------------*/



/*-----------------------------------------------------
                    1. Generel styling
-----------------------------------------------------*/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* header */

header {
    background-color: #EA5045;
    display: flex;
    height: 4em;
    justify-content: space-between;
    padding: 20px;
}


.logo {
    display: flex;
    flex-grow: 0.8;

}

.profil_ikon {
    display: flex;

}



/*----------- Burger menu--------------- */

.hidden {
    display: none;
}

#menuknap {
    display: flex;
    color: white;
    justify-content: center;
    width: 8em;
}

#menuknapluk {
    display: flex;
    color: white;
    justify-content: flex-end;
    font-size: 1.5em;
    padding: 3px 20px 0 0;
}

#header_right {
    display: flex;
    width: 7em;
    justify-content: space-between;
}

nav a {
    color: #F58E81;
    font-family: 'Arial';
    font-size: 1.7em;
    text-align: center;
    letter-spacing: 2px;
    line-height: 80px;
    text-decoration: none;
}

.logud a {
    color: white;
    font: 'arial';
}

nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#menu {
    background-color: #3F3140;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#menu img {
    padding: 2em;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

.logud {
    background-color: #F58E81;
    text-align: center;

}



/*-----------------------------------------------------
                    2. Login side
-----------------------------------------------------*/
.login {
    background-color: #FAF7F7;
}

.login header {
    background-color: #EA5045;
    display: flex;
    justify-content: center;
    height: 10em;
}

.login img {
    width: 25%;
}

.formgroup_1 {
    margin: 90px 0px 25px 55px;
}

.formgroup_2 {
    margin: 20px 0px 200px 55px;
}

.formgroup_3 {
    margin: 0px 0px 80px 55px;
}

input[type=text] {
    font-family: 'Arial';
    border: 0px;
    border-radius: 70px;
    height: 60px;
    width: 400px;
}


input[type=submit] {
    color: white;
    font-family: 'Arial';
    border: 0px;
    border-radius: 70px;
    height: 60px;
    width: 400px;
    background: #EA5045;
}


.fb_login {
    font-family: 'Arial';
    width: 400px;
    height: 60px;
    border-radius: 70px;
    border: 2px #EA5045 solid;
    background-color: white;
    text-align: center;
    line-height: 3.5em;
    position: relative;
    bottom: 4em;
    margin: 0px 0px 0px 55px;
}

.fb_login a {
    color: #EA5045;
    font-size: 12px;
    text-decoration: none;
}

.fb_login img {
    position: absolute;
    width: 5%;
    height: auto;
    top: 17px;
    left: 25px;
}

.huskmig {
    font-family: 'Arial';
    font-size: 12px;
    color: #3F3140;
    margin: 0px 0px 5px 180px;
}


.glemtpassword {
    font-family: 'Arial';
    font-size: 12px;
    color: #3F3140;
    text-decoration: none;
    margin: 0px 0px 0px 290px;
}

.glemtpassword a {
    color: #3F3140;
    text-decoration: none;
}


/*-----------------------------------------------------
                    3. Forside
-----------------------------------------------------*/

figcaption {
    font-family: 'arial';
    color: #F58E81;
    font-size: 15px;
    padding: 10px;
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionwrapper_forside {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 30vw 30vw 30vw 30vw 30vw 30vw;
    grid-gap: 10px;
    background-color: #FAF7F7;
    padding: 10px;
    z-index: -1;
    position: relative;

}

.sectionwrapper_forside article {
    background-color: white;
}


p {
    font-family: 'arial';
    color: #F58E81;
    font-size: 1.5em;
    font-weight: bold;
}


.box_1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/span 2;
    grid-row: 0/span 2;
}

.box_5 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.box_6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_10 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_11 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/span 2;
    grid-row: 4/ span 2;
}

.box_11 p {
    font-family: 'arial';
    color: #F58E81;
    font-size: 3em;
    font-weight: bold;
}

.box_12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_13 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_14 {
    display: flex;
    justify-content: center;
    align-items: center;
}




/*-----------------------------------------------------
                    4. Afleveringer
-----------------------------------------------------*/


/* --------------------- KOLONNER --------------------- */

.sectionwrapper_aflevering {
    padding: 15px;
}

.col {
    background-color: #F2F1F0;
    /* width: 470px; */
    height: 80px;
    padding: 15px;
    margin-bottom: 15px;
}

.under_col {
    background-color: #FFFFFF;
    width: 470px;
    height: 80px;
    padding: 15px;
    margin-bottom: 15px;
}

.hide {
    /*  display: none; */
}


.col img {
    float: right;
}

.under_col img {
    float: right;

}

.collapsible {
    cursor: pointer;
}

.content {
    display: none;
}

/* --------------------fonte & tekst------------------- */

h1 {
    font-family: 'Gibson';
    font-weight: bold;
    font-size: 1.5em;
}


h4 {
    font-family: 'Gibson';
    font-size: 1em;
    color: #EA5045;
    padding: 20px 0px 0px 0px;
}

h5 {
    font-family: 'Gibson';
    font-size: 0.8em;
    margin-block-start: 0em;
}

h6 {
    font-family: 'Gibson';
    font-weight: lighter;
    margin-block-start: 0em;
}
