/*-----------------------------------------------------
INDHOLDSFORTEGNELSE:

1. Generel styling / header / burgermenu
2. Login side
3. Forside
4. Afleveringer
-----------------------------------------------------*/



/*-----------------------------------------------------
                    1. Generel styling
-----------------------------------------------------*/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



/*-----------------------------------------------------
                    3. Forside
-----------------------------------------------------*/

/* ikoner og tekst */

figcaption {
    font-family: 'arial';
    color: #F58E81;
    font-size: 15px;
    padding: 10px;
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* sectionwrappers der styrer grids, rows og articles */

.sectionwrapper_forside {
    display: grid;
    background-color: #FAF7F7;
    padding: 10px;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 30vw 30vw 30vw 30vw 30vw 30vw;
    grid-gap: 10px;
}

.sectionwrapper_forside article {
    background-color: white;
}

/* bokse med tekst */

p {
    font-family: 'arial';
    color: #F58E81;
    font-size: 1.5em;
    font-weight: bold;
}

.box_11 p {
    font-family: 'arial';
    color: #F58E81;
    font-size: 3em;
    font-weight: bold;
}

/* bokse */

.box_1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/span 2;
    grid-row: 0/span 2;
}

.box_5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_10 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_11 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/span 2;
    grid-row: 4/ span 2;
}

.box_12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_13 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_14 {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-----------------------------------------------------
                    4. Afleveringer
-----------------------------------------------------*/


/* --------------------- KOLONNER --------------------- */

.sectionwrapper_aflevering {
    padding: 15px;
}

.col {
    background-color: #F2F1F0;
    width: 470px;
    height: 80px;
    padding: 15px;
    margin-bottom: 15px;
}

.under_col {
    background-color: #FFFFFF;
    width: 470px;
    height: 80px;
    padding: 15px;
    margin-bottom: 15px;
}

.hide {
    /*  display: none; */
}


.col img {
    float: right;
}

.under_col img {
    float: right;

}

.collapsible {
    cursor: pointer;
}

.content {
    display: none;
}

/* --------------------fonte & tekst------------------- */

h1 {
    font-family: 'Gibson';
    font-weight: bold;
    font-size: 1.5em;
}


h4 {
    font-family: 'Gibson';
    font-size: 1em;
    color: #EA5045;
    padding: 20px 0px 0px 0px;
}

h5 {
    font-family: 'Gibson';
    font-size: 0.8em;
    margin-block-start: 0em;
}

h6 {
    font-family: 'Gibson';
    font-weight: lighter;
    margin-block-start: 0em;
}
